.navbar {
    height: 70px;
    width: 100%;
    background-color: #3498db;
    padding: 15px;
    display: flex; /* Asegura que los elementos dentro del nav se alineen */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacia los elementos a los extremos */
}

.lista-nav {
    padding: 0 10px;
    margin: 0;
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Coloca los elementos de la lista en línea */
    flex-direction: row;
    align-items: center; /* Alinea verticalmente los elementos dentro de la lista */
    gap: 30px; /* Espaciado entre los links */
}

.links-nav, .codekids {
    font-size: 30px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

.links-nav-register {
    font-size: 30px;
    color: #000000;
    text-decoration: none;
    background-color: #FFC600;
    padding: 8px 35px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.links-nav:hover {
    background-color: white; /* Fondo blanco traslúcido */
    color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6); /* Brillo azul */
    transform: scale(1.05); /* Ligera expansión */
    padding: 8px 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

.links-nav-register:hover {
    background-color: #FFD700; /* Amarillo más brillante */
    transform: scale(1.1); /* Efecto de crecimiento */
    box-shadow: 0 0 20px rgba(255, 198, 0, 0.6); /* Brillo amarillo */
}