.carta {
  width: 180px;
  height: 250px;
  perspective: 1000px;
  cursor: pointer;
  position: relative;
  display: flex;
}

.carta .cara {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  transition: transform 0.6s;
}

.carta .frente {
  transform: rotateY(180deg);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.contenido-frente {
  position: absolute;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

.descripcion {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  max-width: 83%;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
}


.carta .cara img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carta .reverso {
  transform: rotateY(0deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f3f3f3;
  min-height: 100%;
}

.carta .reverso h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  background-color: rgb(30, 150, 252);
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  width: auto;
  color: black;
  padding: 1.6%;
  box-sizing: border-box;
}

.carta.bloqueada .reverso h3 {
  opacity: 0.7;
  background-color: transparent;
  mix-blend-mode: multiply;
  top: 10%;
}

.carta.volteada .frente {
  transform: rotateY(0deg);
}

.carta.volteada .reverso {
  transform: rotateY(180deg);
}

.entrar-btn {
  padding: 5% 9.5%;
  font-size: 1rem;
  background: #0247fe;
  color: white;
  border: none;
  border-radius: 8%;
  cursor: pointer;
  margin-bottom: 12.5%;
}

.entrar-btn:hover {
  background: #0137c0;
}
