
.maxgame-container {
    text-align: center;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    font-family: 'Sour Gummy', sans-serif;
  }

  .maxgame-container h2 {
    text-align: center;
  }
  
  .max-img {
    width: 150px;
    margin-bottom: 1rem;
  }
  
  .acciones-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .accion-btn {
    background-color: #f0f4c3;
    border: 2px solid #fcf300;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .accion-btn img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem;
  }
  
  .orden-container {
    margin-bottom: 2rem;
  }
  
  .orden-item {
    display: inline-block;
    margin: 0 0.5rem;
  }
  
  .orden-item img {
    width: 50px;
    height: 50px;
  }
  
  .botones button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    border: none;
    background-color: #1E96FC    ;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .mensaje-inicial {
    font-family: 'Sour Gummy', sans-serif;
    font-size: 1.2rem;
    background-color: #fff59d;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .mensaje-inicial {
    animation: fadeIn 1.5s ease-in;
    background-color: #fffde7;
    padding: 2rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }
  
  .boton-continuar {
    margin-top: 1.5rem;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #ffeb3b;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s 1 forwards;
    animation-delay: 4s;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  