@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy&display=swap');

.piramide-container {
  text-align: center;
  background: #a2d6f9;
  padding: 1.75rem;
  font-family: 'Sour Gummy', sans-serif;
  max-width: 900px;
  align-items: center;
  align-self: center;
  margin-left: 250px;
}

.contenido-central-piramide {
  text-align: center;
}

.piramide-rectangular {
  position: relative;
  height: 455px;
  margin: 2rem auto;
  width: 100%;
  max-width: 400px;
}

.nivel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fbc02d;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  overflow: hidden;
  padding: 0.5rem;
  box-sizing: border-box;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.nivel-1 {
  width: 140%;
  bottom: 0;
  height: 70px;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}
.nivel-2 {
  width: 112%;
  bottom: 75px;
  height: 70px;
  clip-path: polygon(12% 0%, 88% 0%, 100% 100%, 0% 100%);
}
.nivel-3 {
  width: 85%;
  bottom: 150px;
  height: 80px;
  clip-path: polygon(14% 0%, 86% 0%, 100% 100%, 0% 100%);
}
.nivel-4 {
  width: 61%;
  bottom: 235px;
  height: 70px;
  clip-path: polygon(16% 0%, 84% 0%, 100% 100%, 0% 100%);
}

.nivel-5 {
  width: 74%;
  bottom: 310px;
  height: 150px;
  clip-path: polygon(50% 0%, 50% 0%, 78% 100%, 22% 100%);
  transition: clip-path 0.5s ease;
  padding-top: 5rem;
}


.nivel.activo {
  height: 120px;
  background-color: #fdd835;
  z-index: 2;
  justify-content: flex-start;
  padding-top: 0.5rem;
}

.nivel-5.activo {
  height: 150px;
  background-color: #fdd835;
  z-index: 2;
  justify-content: flex-start;
  padding-top: 0.5rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.label-piramide {
  pointer-events: none;
  margin-bottom: 0.5rem;
}

.contenido-piramide {
  font-size: 0.85rem;
  background-color: #fffde7;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #fbc02d;
}

.espaciado-boton-piramide {
  margin-top: 1rem;
}

.boton-entrar-piramide {
  background-color: #fbc02d;
  color: #333;
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Sour Gummy', sans-serif;
}

.boton-entrar-piramide:hover {
  background-color: #fdd835;
}


  